  /***********general******/


  html {
      scroll-behavior: smooth;
  }


  * {
      box-sizing: border-box;
      margin: 0;

  }

  img {
      width: 100%;
      padding: 10px 10px 0 10px;
      border-radius: 30px;
      object-fit: cover;

  }

  body {

      background-image: linear-gradient(0deg, #121212, #151515);

  }



  /***********general******/

  #loopview {
      width: 100vw;
      max-width: 1800px;



  }

  #startside {
      width: 100vw;
      height: 100vh;
      background-size: cover;

      background-image: url(Img/forside_splash.jpg);
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-bottom: 30px
  }

  .logo {
      background-image: url(svg_filer/logo_double.svg);
      background-size: cover;
      height: 15vw;
      width: 37.725vw;
      margin: 35vh 0 0 0;
      cursor: pointer;
  }


  .kategori_container {
      display: flex;
      justify-content: center;
      position: sticky;
      top: 10px;
      z-index: 1;
      border-radius: 17px;
      background-color: #000000;
      padding: 25px 0px 25px 0px;
      margin: 0 auto;
      width: 95vw;
      flex-wrap: nowrap;

  }

  .nowarp {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      padding: 0 20px 0 0;



  }

  .kategori_alle2 {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;



  }

  #pil_menu {
      background-image: url(svg_filer/pil_ned.svg);
      background-size: cover;
      margin: 15px 10px 15px 50px;
      height: 12px;
      width: 21px;
      cursor: pointer;

  }





  .pil_menu_open {
      display: none;
      position: absolute;
      right: 30px;
  }

  .mellem {
      border-right: 1px solid white;
      margin: 0 30px 0 30px;
  }


  .filter_kategori {
      padding: 15px 25px 15px 35px;
      margin: 0 0 0 0;
      color: white;
      font-size: 0.7rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: 700;



  }

  .explore_album {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.1rem;
      color: #bcbcbc;
      letter-spacing: 0.06rem;
      text-decoration: none;
      padding: 0px 0 30px 0;
  }

  button {
      border-radius: 17px;
      border: none;
      padding: 15px 15px 15px 15px;
      font-family: 'Montserrat', sans-serif;
      color: white;
      font-size: 0.7rem;

      letter-spacing: 0.1rem;
      font-weight: 500;
      background-color: rgba(255, 255, 255, 0);
      cursor: pointer;


  }

  .valgt {
      color: #62AA7D;
      font-size: 0.8rem;


  }



  .loopview {
      width: 70vw;
      max-width: 1100px;
      padding: 30px 0 0 0;
      margin: 0 auto;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));


  }


  .loopview img:hover {
      transform: scale(1.05);


  }

  .sidebar {
      background-color: rgba(244, 244, 244, 0.92);
      text-align: center;

  }



  .sidebar {
      background-color: rgba(244, 244, 244, 0.92);
      text-align: center;

  }



  article {
      margin: 5px;
      border-radius: 30px;
      cursor: pointer;


  }

  #pil_container {
      position: absolute;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #pil_sprite {
      background-image: url(svg_filer/pil_ned.svg);
      background-size: cover;
      height: 2vw;
      width: 3.479vw;
      cursor: pointer;
  }





  #pil_container:hover {
      transform: scale(1.1);


  }


  .pil_position {
      top: 80vh;
  }


  /***** stjerne ****/
  #stjerne_sprite {
      background-image: url(svg_filer/star_uden.svg);
      background-size: cover;
      height: 13px;
      width: 13px;
      cursor: pointer;
      margin: 17px 10px 17px 10px;
  }




  .valgtstjerne {
      filter: invert(.5) sepia(1) saturate(2.5);


  }





  #stjerne_sprite:nth-child(1) {
      margin: 17px 10px 0 23px;


  }


  .rotete {
      transform: rotate(180deg);
      animation-duration: 6s;
      animation-timing-function: ease-in;

  }

  /*********** fonts ******/

  h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 4.5rem;
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      margin: 185px 50px 110px 50px;
      justify-content: center;
      font-weight: 800;
  }




  #startside h2 {
      font-size: 1.7rem;
      color: white;
      text-transform: none;
      letter-spacing: 0.1rem;
      padding: 0 0 0 0;
      margin: 125px 250px 0px 250px;
      justify-content: center;
      text-align: center;
      font-weight: 300;

  }

  h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      padding: 0 0 0 15px;
      margin: 10px 0 5px 0;
      color: #ffffff;
      font-weight: 500;

  }



  h3 {
      font-family: 'Montserrat', sans-serif;
      font-size: 0.9rem;

      letter-spacing: 0.1rem;
      padding: 0 0 0 15px;
      margin: 0px 0 13px 0;
      font-weight: 300;
      color: #c4c4c4;
  }

  h4 {
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      position: sticky;
      font-weight: 300;
      top: 370px;
      padding: 0 50px 0 50px;


      margin: 25px 0 25px 0;

  }



  p {
      font-family: 'Montserrat', sans-serif;
      font-size: 0.9rem;
      color: #bcbcbc;
      letter-spacing: 0.06rem;
      margin: 10px 0 30px 0;

  }

  .loopview p:last-child {
      padding: 0 0 10px 15px;
      font-size: .7rem;
  }





  /***********popop******/

  .line {
      border-bottom: 1px solid black;
      margin: 0px 15px 0px 15px;
  }




  #popop {
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(60, 60, 60, 0.8);
      max-width: 1800px;
      display: none;
      z-index: 2;
      overflow: auto;

  }

  #popop_article {
      width: 85vw;
      height: 65vh;
      margin: 9rem auto;
      background-color: #101010;
      display: flex;
      flex-wrap: nowrap;
      max-width: 1200px;
      position: relative;
      z-index: 2;




  }

  #luk {
      position: absolute;
      top: 20px;
      right: 28px;
      color: #ffffff;
      padding: 10px;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.5rem;
      text-transform: uppercase;
      cursor: pointer;

  }



  #popop_article img {
      object-fit: cover;
      max-width: 500px;
      max-height: 600px;
      margin: 20px 20px 20px 20px;
      padding: 0px 0px 0px 0px;
      border-radius: 20px;



  }

  .ratingsimg {
      margin: 0 20px 0 20px;
      height: 25px;
      width: 167.9px;


  }

  #popop_article img:nth-child(5) {
      margin: 10px 30px 0 30px;
  }



  #popop_article h2 {
      padding: 70px 10px 0px 30px;
      font-size: 1.8rem;
  }


  #popop_article p {
      padding: 0px 40px 0px 30px;



  }

  #popop_article .kunstner {
      font-size: 1.2rem;
      padding: 0px 10px 0px 30px;
      margin: 0 0 0 0;
      color: #c6c6c6;


  }

  #popop_article .genre {
      font-size: 0.9rem;
      margin: 0 0 40px 0;

      padding: 10px 10px 0px 30px;
      color: #b4b4b4;

  }

  #popop_article .beskrivelse {
      font-size: 1rem;
      line-height: 1.4rem;
      font-weight: 400;

  }

  .colum_1 {
      flex-basis: 700px;
      flex-grow: 1;
  }



  /*********** nav ******/


  header {
      position: absolute;
      right: 0;
  }




  nav ul {
      background-color: rgba(0, 0, 0, 0);
      text-align: end;
      padding: 25px;
      z-index: 1;
      position: relative;


  }

  nav li {
      display: inline;
      background-color: rgba(0, 0, 0, 0);
      text-align: center;

  }

  li {
      display: block;
      color: #ffffff;
      padding: 34px 10px;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.2rem;
      letter-spacing: 0.11rem;
      font-weight: 400;

  }

  li a {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.2rem;
      text-decoration: none;
      color: #ffffff;
  }



  li a:hover {
      color: #62AA7D;
  }


  /*********** menu_button ******/

  }

  #menu_button {
      border-radius: 17px;
      border: none;
      padding: 5px 25px 5px 25px;
      font-size: 0.7rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: 500;
      background-color: rgb(38, 24, 24);
      width: 140px;
      height: 40px;
      box-shadow: 5px 5px 12px rgb(155, 82, 82);
      font-family: 'Montserrat', sans-serif;


  }


  #menu_button a {
      font-size: 0.7rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: 500;
      color: white;
      text-decoration: none;

  }

  footer {
      font-size: 1em;
      text-align: center;
      padding: 50px 0 50px 0;
      background-color: #000000;
      font-family: 'Montserrat', sans-serif;
      color: #62AA7D;
      ;

      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: 500;
      margin: 40px 0 0 0;

  }

  /*********** @media ******/

  @media screen and (min-width: 1500px) {
      h1 {


          color: white;
          text-transform: uppercase;
          letter-spacing: 0.1rem;
          margin: 245px 50px 160px 50px;
          justify-content: center;
          font-weight: 800;


      }



      #startside h2 {

          font-size: 1.7rem;
          color: white;
          text-transform: uppercase;
          letter-spacing: 0.1rem;
          padding: 0 0 0 0;
          margin: 125px 350px 0px 350px;
          justify-content: center;
          text-align: center;
          font-weight: 400;


      }
  }




  @media screen and (max-width: 1000px) {

      /***********display_filter******/

      .display_filter {
          display: none;
      }

      .pil_menu_open {
          display: block;
      }



      .kategori_container {
          display: flex;
          justify-content: center;
          position: sticky;
          top: 10px;
          z-index: 1;

      }

      .kategori {
          border-radius: 17px;
          background-color: #000000;
          padding: 0px 0px 0px 0px;
          margin: 00px 00px 0px 00px;
          width: 95vw;
          animation-timing-function: ease-in-out;





      }

      #popop_article img {
          width: 90%;
          margin: 25px auto;
          padding: 0px 0px 0px 0px;

          border-radius: 30px;
          object-fit: cover;

      }

      #popop_article {
          width: 90vw;
          height: 100vh;
          margin: 0rem auto;
          display: flex;
          flex-wrap: wrap;
          max-width: 500px;
          position: relative;

      }

      #popop_article img {
          object-fit: cover;
          max-width: 500px;
          max-height: 500px;
          margin: 20px 20px 20px 20px;
          padding: 0px 0px 0px 0px;
          border-radius: 30px;

      }


      #luk {
          background-color: rgba(0, 0, 0, 0.7);
          border-radius: 15px;
          padding: 8px 13px 8px 13px;
      }

      .nowarp {
          padding: 0 65px 0 0px;



      }






  }

  @media screen and (max-width: 700px) {
      .kategori_container {
          display: flex;
          justify-content: center;
          position: sticky;
          top: 10px;
          z-index: 1;
          padding: 15px 0px 15px 0px;
          flex-wrap: wrap;

      }

      .mellem {
          border-right: none;
          margin: 0px 20px 0px 0px;
      }

      #popop_article h2 {
          padding: 0px 10px 0px 30px;
          font-size: 1.5rem;
      }


      #popop_article img:nth-child(5) {
          margin: 10px 30px 0 30px;
          height: 20px;
          width: 134.32px;
      }
  }

  @media screen and (max-width: 600px) {
      .sidebar {

          background-color: rgba(244, 244, 244, 0.92);
          text-align: center;
          display: none;


      }




      #loopview {
          width: 100vw;
          max-width: 1600px;
          margin: 0 auto;
          display: grid;
          grid-template-columns: 1fr;


      }

      h1 {
          margin: 100px 50px 110px 50px;
      }



      #startside h2 {
          margin: 125px 35px 0px 35px;
      }


      #popop_article img {
          width: 90%;
          max-height: 40%;

          margin: 25px auto;
          padding: 0px 0px 0px 0px;

          border-radius: 15px;
          object-fit: cover;

      }

      #popop_article {
          width: 90vw;
          height: 120vh;
          margin: 0px auto;
          display: flex;
          flex-wrap: wrap;
          max-width: 500px;
          position: relative;

      }






      #luk {
          position: absolute;
          top: 30px;
          right: 28px;
          color: #ffffff;
          background-color: rgba(0, 0, 0, 0.7);
          border-radius: 15px;
          padding: 8px 13px 8px 13px;
          font-size: 1.5rem;
          text-transform: uppercase;
          cursor: pointer;

      }


      .kategori_container {
          display: flex;
          justify-content: center;
          position: sticky;
          top: 10px;
          z-index: 1;
          padding: 15px 0px 15px 0px;
          flex-wrap: wrap;

      }

      .kategori {
          border-radius: 17px;
          background-color: #000000;
          padding: 0px 0px 0px 0px;
          margin: 00px 00px 00px 00px;
          width: 95vw;
          animation-timing-function: ease-in-out;





      }

      .logo {
          background-image: url(svg_filer/logo_double.svg);
          background-size: cover;
          height: 30vw;
          width: 75.45vw;
          margin: 35vh 0 0 0;
      }


      .kategori_container {}


      button:first-child {
          margin: 0px 0px 0px 20px;
      }

      #stjerne_sprite:nth-child(1) {
          margin: 17px 10px 0 34px;


      }





  }
